*{
    padding: 0px;
    margin: 0px;
}
main{
    max-width: 500px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: blueviolet;
    padding: 20%;
  
   
}

div{
    position: relative;
}
.text{
margin-right: 20px;
padding: 10px;   
}
.buton{
    position: absolute;
    top:2%;
    left: 100%;
    padding: 10px;
}
.apagar{
    padding:5px;
    margin: 10px;

}
