
header h1{
    text-align: center;
    background-color: rgba(0, 255, 255, 0.363);
}


form{
    background-color: rgba(0, 128, 0, 0.377);
   
}
.form-control{
    width: 80%;
    margin: 0 auto;
}
label{
    text-indent: 20px;
    margin-bottom: 5px;
}
.btn{

    margin: 20px;
}