*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header h1{
  background-color: red;
  text-align: center;
  padding: 10px;
 font-family: 'Anton', sans-serif; 
}

button{
  padding: 5px;
   font-weight: bolder;
   font-size: 14px;
   border: none;
   margin-left: 2px;
   box-shadow: 2px 1px 3px black;

}
.menu{
 display: inline-block;
}
button:hover{
  background-color: rgba(0, 0, 255, 0.281);

}
.sub{
  display: none;

}
 .menu:hover .sub{
  display:block;
  position: absolute;
 }
 a{
  display: block;
  background-color: rgba(255, 196, 0, 0.979);
  width: 141px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 1px;
  box-shadow: 5px 1px 7px black;

 }
 a:hover{
  background-color: rgb(89, 89, 209);


 }
main .card-1{
  margin: 0 auto;
}
 .card-1{
   display: grid;
  
   background-color: yellow;
   height: 84vh;
 }
 .card-1 p{
  font-family: 'Anton', sans-serif; 
   width: 300px;
   height: 100px;
   text-indent: 40px;
   padding: 3px;
   border-radius: 40px 10px 0px 0px;
   background-color: antiquewhite;
   margin-left: 110px;
 }
.card-1 img{
  margin-bottom: 5300px;
}


 
