.container{
    border: 3px solid rgba(255, 0, 0, 0.356);
    height:100vh;
}
.row{
    border: 2px solid rgb(72, 255, 0);
    height: 100%;
}
.col{
    border: 1px solid blue;
    height: 200px;

}
.impar{
    background-color: rgba(255, 255, 0, 0.644);
}

.par{
    margin-top: 20px;
    background-color: rgba(0, 128, 0, 0.651);
}
.par:hover{
    height: 40px;
    transform: rotate(360deg);
    transition: 1.3s;
   
}
.impar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.par p{
    display: none;
    font-size: 19px;
    font-weight: bolder;

}
.par:hover p{
    display:inline;
}


 
