*{
    margin: 0;
    padding: 0;
}

header h1{
    background-color: rgb(148, 139, 125);
    text-align: center;
 
}
section{
    margin: auto;
    max-width: 500px;
    background-color: rgba(172, 160, 142, 0.932);
    text-align: center;
    height: 567px;
   
 
}

div#msg{
 background-color: aqua;
  text-align: center;
  font-weight: bolder;
  font-style: italic;  
  padding: 20px;


}
section #imagem{
   text-align: center;
  margin-top: 20%;
  
}
footer{
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  background-color: blanchedalmond;
  margin-top: 2px;
 
}
