*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}



.section{
    display: grid;
    grid-template-rows: 12% ;
    background-color: rgb(38, 39, 39);
    gap: 20%;
    height:100vh;
    
}
.result{
    margin: 0 auto;
    max-width:800px;
  
}
.section .titulo {
 display: flex;
justify-content: center;
align-items: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 background-color: white;
 color: rgb(31, 30, 30);



}
.res{
    width: 100%;
}



