*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}



.section{
    display: grid;
    grid-template-rows: 100px ;
    background-color: aqua;
     height: 100vh;
    
}
.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
   margin-bottom: 20px;
    color: white;
   background-color: black;
}
.res{
width: 100%;
}



