*{
    margin: 0;
    padding: 0;
}

html,body{
overflow: hidden;
}
.pai{
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    gap: 5px;
    height: 100vh;
 
}


.heading:nth-child(1){
 display: flex;
 align-items: center;
 justify-content: center;
background-color: red;
text-align: center;
color: rgb(189, 27, 27);
grid-area: 1/1/2/3;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}



.img:nth-child(2){
    text-decoration: none;
     background-image: url(../imagens/Pizza\ -\ Arte\ da\ Pizza.jpg);
     background-size: cover;
     background-position: bottom left;
    font-family: fantasy;
    text-transform: uppercase;   
    grid-area: 2/1/2/3 ;
    background-color: aqua;
  
    

}
ul ,li, a{
 list-style-type: none;
 text-indent: 2px;
 color:wheat;
 font-family:Arial, Helvetica, sans-serif;
 font-weight:bolder;
 text-decoration: none;

}
a:hover{
    background-color: dimgray;
}
li:hover{

    transform: translate(20px,-7px);
    transition: 1s;
}




 div:nth-child(3){
    grid-template-columns: 1fr;
    background-color: rgb(124, 114, 114);
    grid-area: 3/1/3/3;
    color: white;
    }
    div:nth-child(4){
        background-color: rgb(0, 255, 34);
        color: white;
        grid-area: 4/1/4/3;
        }

    @media(max-width:320px){
       
    }